<div class="tabs" role="tablist">
  @for (item of items(); track item.id; let i = $index) {
    @let active = value() === item.id;

    <button
      #tab
      type="button"
      role="tab"
      class="tab"
      [class.tab--active]="active"
      [id]="tabId(item.id)"
      [attr.aria-selected]="active"
      [attr.aria-controls]="panelId(item.id)"
      [attr.tabindex]="active ? 0 : -1"
      (click)="value.set(item.id)"
      (keydown)="onKeydown($event, i)"
    >
      @if (item.icon) {
        <span class="material-symbols-rounded tab__icon" aria-hidden="true">{{ item.icon }}</span>
      }
      {{ item.label }}
    </button>
  }
</div>
